--self insert
--binarygrouping 4,8
--decimalgrouping 3,6
--hexgrouping 4,8
--octalgrouping 4,8
--commas inline
--comments ignore
--empty line
--exponentcase lowercase
--header ignore
--hexliteralcase uppercase
--ifdef noindent
--indent 4
--linebreaks lf
--rangeoperators spaced
--removelines enabled
--semicolons inline
--trimwhitespace always
--wraparguments afterfirst
--wrapelements afterfirst
